<html>
    <head>
        <title>Dolphin's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">PlacticeDjango
                <br>Ryuuuuuuuuuuuuuuuuta
            </a></h1>
        </div>

        <div>
            <p>published: 14.4.2021, 4:52</p>
            <h2><a href="">My first post</a></h2>
            <p>I am Ryuta </p>
        </div>

        <div>
            <p>published: 14.4.2021, 4:58</p>
            <h2><a href="">My second post/a></h2>
            <p> We are Ryuta</p>
        </div>
    </body>
</html>